body{
  background-image: url(/content/img/back_music.jpg) !important;
}
.container {
  padding: 0;
}
.nav-main{
  background-color: #e14747;
  color: white;
}
.navbar-head{
  height: 60px;
}
.navbar-head ul, .navbar-head ul li a{
  color: black;
}

.navbar-nav, .navbar-nav li, .navbar-nav li a{
    height: 60px;
}
.play-control, .volume, .search-head{
  margin-top: 6px;
  margin-bottom: 6px;
  padding-right: : 16px;
  padding-left: 16px;
  float: left;
  width: auto;
}

.volume{
  float: left;
  width: auto;
  padding: 14px;
  margin-left: 40px;
}
.search-head{
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 40px;
}
.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b64645;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
    border-radius: 50%;
        background-clip: padding-box;
}

.glyphicon{
  color: white;
}
.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

/*.volume{
  float: left;
  width: auto;
}*/
/*.navbar-head ul li a{
  padding-top:10px;
 padding-bottom:10px;
}*/

.main-seek{
  height: 50px;
  background: #414a59;
  overflow: hidden;
}
.main{
  color:#9ba4ab;
}

.playlist{
  background: #333a46;
  min-height: 500px;
}

.glyphicon-search{
  color: black;
}

.input-search, .search-img{
  border-top: 1px solid #dd3131;
  border-right: : 1px solid #dd3131;
  border-bottom: : 1px solid #dd3131;
  border-color: #dd3131;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 0 0 rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.input-search {
  /*height: 24px;*/
  border-left: 0 solid white;
  padding: 12px;
  color: black;
  outline: none;
  -webkit-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 0 0 rgba(255, 255, 255, 0.4) !important;
  transition: none;
}
 .search-img {
    border-radius: 30px 0px 0px 30px;
    background: white;
}
input[type="search"]:focus {
  border-color: #dd3131;
}

.btn:focus, .btn:active {
   outline: none !important;
}

.slider-info{
  background-color: #414a59;
  padding: 10px;
 text-shadow: 0 1px 0 #414a59;
}
.info-currentTime{
  color: #9ca4b7;
  text-align: left;
}
.info-title{
  display: table-cell;
text-shadow: 0 1px 0 #414a59;
}
/*button[type="button"]:focus{
  -webkit-box-shadow: none;
      	outline: -webkit-focus-ring-color auto 0px;
}*/
/*
.slider {
  background: #555;
  color: #555;
  display: inline-block;
  width: 140px;
  height: 16px;
}*/

table th{
  border-top: 1px solid #2b2c39 !important;
  border-bottom: : 1px solid #2b2c39 !important;
}

th{
  background-color: #333a46;
}
tr td{
  color: #fff;
  background-color: #424955;
  border-top: 0px solid #2b2c39 !important;
}
#song-slider, #song-slider:focus, #song-slider:active,
 #volume-slider, #volume-slider:focus, #volume-slider:active{
  border-color: transparent;
    border: none;
  outline: none !important;
}


input[type=range] {
    /*margin: auto;
    outline: none;
    padding: 0;
    width: 50%;*/
    height: 6px;
    background-color: #6c7b94;

    background-image: -webkit-linear-gradient(top, #e7ebf6 0%, #afb6c8 100%);
    background-image: -moz-linear-gradient(top, #e7ebf6 0%, #afb6c8 100%);
    background-image: -ms-linear-gradient(top, #e7ebf6 0%, #afb6c8 100%);
    background-image: -o-linear-gradient(top, #e7ebf6 0%, #afb6c8 100%);
    background-image: linear-gradient(top, #e7ebf6 0%, #afb6c8 100%);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    width: 0;
    height: 0;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  width: 0;
  height: 0;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}
