.nav-main{
  background-color: #e14747;
  color: white;
}

.navbar-head ul, .navbar-head ul li a{
  color: black;
  height: 40px;
}

.navbar-head ul li a{
  padding-top:10px;
 padding-bottom:10px;
}

.main-seek{
  height: 50px;
  background: #414a59;
  overflow: hidden;
}

.playlist{
  background: #333a46;
  min-height: 500px;
}

.input-search{
  height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 0 0 rgba(255, 255, 255, 0.4);
  border: 1px solid #dd3131;
  padding: 10px;
}
.slider {
  width: 200px;
  margin: 100px auto;
}


input[type='range'] {
  box-sizing: border-box;
  overflow: visible;
  position: absolute;
  -webkit-appearance: none;
  top: 50%;
  left: 50%;
  border: solid 2em transparent;
  width: 25em;
  height: 9em;
  padding: 0 0.5em;
  border-radius: .25em;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #9b2f0b 1px, #fc7444 1px, #fc7444 2px, rgba(0, 0, 0, 0) 2px) repeat-x 1.25em 4em padding-box;
  background-size: 10% .5em;
  /* Firefox & Chrome/ Opera need this,
     otherwise font-size is smaller */
  font-size: 1em;
  cursor: pointer;
  /* wish I could style this asshole */
}
[class*='-ms-'] input[type='range'] {
  background-position: 1em 4em;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-sizing: border-box;
  z-index: -1;
  /* fix Firefox WTF */
  border: none;
  /* because IE */
  width: 20em;
  height: 1em;
  border-radius: 0.5em;
  box-shadow: 0 1px #fc7444;
  font-size: 1em;
  background: linear-gradient(#9b2f0b, #bc3c0f);
  /* only Firefox & Chrome/ Opera */
  background-image: linear-gradient(#ecebe9, #ecebe9), linear-gradient(#9b2f0b, #bc3c0f);
  background-repeat: no-repeat;
  background-size: 50% 100%, 100% 100%;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -.25em;
  /* weird shit, Chrome */
  box-sizing: border-box;
  z-index: 1;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  box-shadow: 0 1px 0.125em rgba(174, 114, 90, 0.2);
  background: #eae9ea;
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  z-index: -1;
  /* fix Firefox WTF */
  border: none;
  /* because IE */
  width: 20em;
  height: 1em;
  border-radius: 0.5em;
  box-shadow: 0 1px #fc7444;
  font-size: 1em;
  background: linear-gradient(#9b2f0b, #bc3c0f);
  /* only Firefox & Chrome/ Opera */
  background-image: linear-gradient(#ecebe9, #ecebe9), linear-gradient(#9b2f0b, #bc3c0f);
  background-repeat: no-repeat;
  background-size: 50% 100%, 100% 100%;
}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  z-index: 1;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  box-shadow: 0 1px 0.125em rgba(174, 114, 90, 0.2);
  background: #eae9ea;
  /* Firefox-only, it won't work in IE
     and it's messed up in Chrome */
  cursor: ew-resize;
}
input[type='range']::-ms-track {
  box-sizing: border-box;
  z-index: -1;
  /* fix Firefox WTF */
  border: none;
  /* because IE */
  width: 20em;
  height: 1em;
  border-radius: 0.5em;
  box-shadow: 0 1px #fc7444;
  font-size: 1em;
  background: linear-gradient(#9b2f0b, #bc3c0f);
  color: transparent;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  z-index: 1;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  box-shadow: 0 1px 0.125em rgba(174, 114, 90, 0.2);
  background: #eae9ea;
}
input[type='range']::-ms-fill-lower {
  border-radius: 0.5em 0 0 0.5em;
  background: #ecebe9;
}
input[type='range']::-ms-fill-upper {
  background: transparent;
}
input[type='range']::-ms-tooltip {
  /* none of this shit works :( */
  margin: .5em -2em;
  width: 4em;
  border-radius: .25em;
  box-shadow: inset 0 0 2px #ff7747,  inset 0 0 .5em #cf3f10;
  line-height: 2;
  text-align: center;
}
input[type='range']:focus, input[type='range']:active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}
.js input[type='range'] /deep/ #thumb {
  position: relative;
}
.js input[type='range'] /deep/ #thumb:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin: .5em -2em;
  width: 4em;
  border-radius: .25em;
  box-shadow: inset 0 0 2px #ff7747,  inset 0 0 .5em #cf3f10;
  line-height: 2;
  text-align: center;
  content: '50px';
}
